* { margin:0; padding : 0}
.clear {clear : both;}
.am {background : #dfefd0;} 
.pm {background : #bae0db;} 
.eve {background : #e5dbc2;} 
fieldset {
	border : none;
}
h2 { margin : 0.5em 0;}
h3 { margin : 0.3em 0;}
blockquote {
	background : #dfefd0;
	padding : 0.5em 1em;	
}
#main {
	width : 95%;
	margin : 1em auto;
	}
#wide-weekstream,
#tall-weekstream {
	margin-top : 1em;
	border-top : 2px #e5dbc2 solid;
}	
#tall-weekstream td,
#wide-weekstream td {
	vertical-align : top;
}
#tall-weekstream td ul,
#wide-weekstream td ul {
	list-style : none;
}
#tall-weekstream table {
	/*width : 100%;*/
}
#tall-weekstream thead th.weekday {
	width : 13%;
}
#tall-weekstream tbody th {
	text-transform : lowercase;
}
#tall-weekstream td  {
	text-align : center;
	padding : 2px 0;
}
#wide-weekstream thead th {
	width : 75px;
	text-transform : lowercase;
	
}
#wide-weekstream tbody th {
	text-align : left;
	border-top : #bae0db 1px solid;
	vertical-align : top;
}

#daystream {
	width : 100%;
	margin-top : 1em;
	border-top : 2px #e5dbc2 solid;
}
#daystream div {
	clear : both;
	border-top : 2px solid #fff;
	padding : 5px 0;
	padding-left : 5em;
}
#daystream h3 {
	width : 10%;
	margin-left : -4em;
	float : left;
}
#daystream ul {
	list-style : none;
}
#daystream li span {
	display : block;
}
#daystream li {
	width : 240px;
	float : left;
	margin-right : 10px;
}
#daystream div.am h3, 
#daystream div.eve h3, 
#daystream div.pm h3 {
	 text-transform : lowercase;
} 
#no-photos {
	background : #ffc;
	padding : 1em 0;
	margin-bottom : 1em;
	border-top : #FFF280 solid 1px;
	border-bottom : #FFF280 solid 1px;
}
#no-photos h3, #no-photos li {
	float : none;
	width : 100%;
}
#no-photos h3 {
	padding-top : 10px;
	padding-left : 10px;
	color : red;
}
#no-photos ul {
	margin-left : 10px;
	padding-bottom : 10px;
	list-style : none;
}


div.navigation {
	margin-top : 20px;
	width : 30%;
	padding : 0 1%;
	float : left;
}
div.navigation ul {
	margin-left : 10px;
}

#introduction {
	margin-top : 1em;
	padding-left : 15px;
	border-top : 2px #e5dbc2 solid;
}
#introduction h2 {
	margin-left : -15px;
	}
#introduction ul {
	margin-left : 1em;
	}
#introduction p {
	margin-top : 0.3em;
}	
p.side-note {
	padding : 1em;
	border : 2px solid #e5dbc2;
}	
#footer {
	clear : both;
	margin : 5em 0;
	font-size : 90%;
	padding : 0 1%;
	border-top : 2px #e5dbc2 solid;
}
#footer div {
	width : 45%;
	padding : 10px 1%;
}
#footer div ul {
	margin-left : 1em;
}
#other-journals {
	float : left;
}
#about-photo-food-journal {
	float : right;
}

#error {
	background : #ffc;
	padding : 1em 0;
	margin-bottom : 1em;
	border-top : #FFF280 solid 1px;
	border-bottom : #FFF280 solid 1px;
}
#error h3 {
	color : red;
	padding-left : 1em;
}	
#error p {
	padding-left : 1em;
}
span.error {
	font-family : monospace;
}	